body {
    background-color: #f5f5f5;
}

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

.display-none {
    display: none;
}

.text-left {
    text-align: left;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.headimg {
    width: 100%;
    height: 140px;
}

/* login page start */
.login-icon {
    margin-bottom: 1.5rem;
}

#username, #password {
    margin: 12px auto;
}

form {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.table {
    color: #007bff;
}

.success-notification {
    text-align: center;
    background-color: #33D275;
    color: white;
    margin: 20px;
    padding: 8px;
    border-radius: 5px;
}


.failure-notification {
    text-align: center;
    background-color: #FF6B79;
    color: white;
    margin: 20px;
    padding: 8px;
    border-radius: 5px;
}

.grey {
    color: grey;
}

footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
}

h1 {
    font-family: bebas;
    text-align: center;
    color: #007BFF;
}

p {
    font-family: Arial;
    color: #007bff;
}